<style>
    .body{
        margin: auto;
    }
    h2{
        text-align: center;
    }
    .input_field {
      width: 300px;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .input_submit {
      width: 300px;
      background-color: #4CAF50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    .input_submit:hover {
      background-color: #45a049;
    }
</style>
{% extends "base.html" %}
{% block body %}
    <h2 style="text-align: center;">Search for a boat to PERMENANTLY DELETE</h2>
    <div class="body">
        <h2 style="min-height: 20px;">{{errorMessage}}</h2>
        <form action="/delete" method="POST">
            <input type="number" name="id" placeholder="ID" class="input_field"> <br>
            <input type="submit" value="Submit" class="input_submit">
        </form>
    </div>
{% endblock %}