<!-- <style>
    .boatContainer{
  display: grid !important; 
  grid-template-columns: auto auto auto !important;
  gap: 5px;
  width: 600px;
  margin: 0 auto;
  text-align: center;
}
.boats{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  width: 100px;
  height: 100px;
  background-color: rgb(148, 148, 148);
  text-align: center;
}
li{
  list-style: none;
}
</style> -->
{%extends 'base.html'%}
{% block body %}
<h1 style="text-align: center;">Welcome</h1>
<div class="boatsContainer mainDiv">
    {% for boat in boats %}
        <ul class="boats">
            <li class="boat">{{boat[0]}}</li>
            <li class="boat">{{boat[1]}}</li>
            <li class="boat">{{boat[2]}}</li>
            <li class="boat">{{boat[3]}}</li>
            <li class="boat">{{boat[4]}}</li>
        </ul>
    {% endfor %}
</div>
{% endblock %}